.main-body {
    margin: 3.125rem;
}

.table-container {
    margin-top: 0.625rem;
}

/* For mobile */
@media only screen and (max-width: 768px) {
    .main-body {
        margin: 0.9rem;
    }

    .table-container {
        overflow-x: scroll !important;
    }
}