.app {
  max-width: 80rem;
  margin-inline: auto;
}

.app-title {
  margin: 3.125rem;
}

/* For mobile */
@media only screen and (max-width: 768px) {
  .app-title {
      margin: 3.125rem 0.9rem;
  }

  .title {
    font-size: 1.5rem !important;
  }

  .table-container {
      overflow-x: scroll !important;
  }
}